<!DOCTYPE html>
<html>
<%- include('./header.ejs') %>
<%- include('./navbar.ejs') %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            Welcome to the control panel for WHHB's social media bot!

            Click <a href="/shows">"Shows"</a> on the navigation bar to view
            and edit the current shows.
        </div>
    </div>
</div>
</html>
