<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">WHHB</a>
        </div>
        <ul class="nav navbar-nav">
            <li class=<% if (page == 'index') { %>"active"<% } else { %>""<% }; %>>
                <a href="/"><span class="glyphicon glyphicon-home"</span></a></li>
            <li class=<% if (page == 'shows') { %>"active"<% } else { %>""<% }; %>>
                <a href="/shows">Shows</a></li>
            <% if (req.user.local.role > 1) { %>
                <li class=<% if (page == 'users') { %>"active"<% } else { %>""<% }; %>>
                    <a href="/users">Users</a></li>
            <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/settings"><span class="glyphicon glyphicon-cog"></span></a>
            </li>
            <li>
                <a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
            </li>
        </ul>
    </div>
</nav>
