<!DOCTYPE html>
<html>
<%- include('./header.ejs') %>
<%- include('./navbar.ejs') %>
<div class="container">
    <div class="row col-md-12">
        <div id="message"></div>
        <h4>Password Change</h4>
        <div class="row form-inline">
            <input type="password" id="oldPassword"
                class="form-control col-md-3" placeholder="Old Password" />
            <input type="password" id="newPassword"
                class="form-control col-md-3" placeholder="New Password" />
            <input type="password" id="confirmNewPassword"
                class="form-control col-md-3" placeholder="Confirm New Password" />
            <button class="btn btn-info col-md-3 form-control" id="changePassword">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
</div>
<script src="js/changePassword.js"></script>
</html>
