<!DOCTYPE html>
<%- include('./header.ejs') %>
<html>
<body>
    <div class="container">
        <form action="/register" method="post">
            <input type="text" name="username" class="form-control"
                placeholder="Username" autocomplete="off" />
            <input type="password" name="password" class="form-control"
                placeholder="Password" />
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
